/* _content/prueba/Pages/Anular.razor.rz.scp.css */
.main[b-8bkjhfch5c]{
   
    margin-top: 42px;
    width: 100%;
    font-size: 3px;
    color: rgb(255, 255, 255);
 }
/* _content/prueba/Pages/Configuracion.razor.rz.scp.css */
.main[b-7udwyxm667]{
   
    margin-top: 42px;
    width: 100%;
    font-size: 3px;
    color: rgb(255, 255, 255);
 }
/* _content/prueba/Pages/Consulta.razor.rz.scp.css */
.main[b-2itbluri5m]{
   
    margin-top: 42px;
    width: 100%;
    font-size: 3px;
    color: rgb(255, 255, 255);
 }
/* _content/prueba/Pages/Index.razor.rz.scp.css */

.index-class[b-zofol5d2c5]{
    margin-left: -32px;
}
.slider[b-zofol5d2c5]{
    float: left;
    margin-top: 42px;
    
    width: 1366px;
    height: 400px;
    position: absolute;
    overflow: hidden;
   }
   .slider ul[b-zofol5d2c5]{
       display: flex;
      
       animation: cambio-b-zofol5d2c5 20s infinite;
       margin-left: -50px;
   }
   .slider  li[b-zofol5d2c5] {
       width: 100%;
       list-style: none;
    
   }
  
   .img-h[b-zofol5d2c5]{
       
       width: 1500px;
       height: 300px;
   }
   @keyframes cambio-b-zofol5d2c5{
     0%{margin-left: -50px;}
     20%{margin-left: -50px;}

     25%{margin-left: -120%;}
     45%{margin-left: -120%;}

     50%{margin-left: -230%;}
     70%{margin-left: -230%;}

  
   }


   .target-1[b-zofol5d2c5]{

   }
   .foot[b-zofol5d2c5]{
    margin-left: -32px;
   }
   .footer[b-zofol5d2c5]{
       position: absolute;
       margin-top: 1132px;
       float: left;
       width: 1366px;
       height: 200px;
       text-align: center;
       background-color: #1F4E79;
       font-size: 3px;
       color: rgb(255, 255, 255);
   }
/* _content/prueba/Pages/Listadosvacunados.razor.rz.scp.css */
.main[b-ikl4mki86s]{
   
    margin-top: 42px;
    width: 100%;
    color: cornsilk;
 }
/* _content/prueba/Pages/Registrar.razor.rz.scp.css */
.main[b-zk1jec0573]{
   
   margin-top: 42px;
   width: 100%;
   font-size: 3px;
    color: rgb(255, 255, 255);
}
/* _content/prueba/Shared/MainLayout.razor.rz.scp.css */
.home-content[b-c4b57pyhpx]{
    background-color: rgb(31, 40, 80);
    width: 100%;
    height: 100%;
}

body[b-c4b57pyhpx]{
    background-color: rgb(75, 205, 245);
}

.div-nav[b-c4b57pyhpx]{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #29b6ee;
}

.Menu-class[b-c4b57pyhpx] {
           
    margin-top: 10px;
    font-kerning:normal;
    color: #82C8FF;
    float: left;
    margin-left: 50px;
    


}
.ulnav-class[b-c4b57pyhpx] {
    
    margin: 0;
    padding: 0;


}
.ulnav-class  li[b-c4b57pyhpx]{
    list-style-type: none;

}

.imagen1[b-c4b57pyhpx]{
    margin-top: 10px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
}
.nav-class a:hover .sidebar[b-c4b57pyhpx]{
    display: inline;
    
}

.div-imag-1[b-c4b57pyhpx]{
    height: 56px;
    width: 100px;
    float: left;
    
    background-color: #002541;
}
.div-imag-2[b-c4b57pyhpx]{
    
    background-color: #002541;
    height: 56px;
    margin-left: 100px;
}
.nav-class[b-c4b57pyhpx]{
    
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color:#002541 ;

}

.title[b-c4b57pyhpx]{
    margin-left: 70px;
    margin-top: -50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3px;
    color: rgb(255, 255, 255);
}



.nav-class[b-c4b57pyhpx]{
    position: absolute;
    
}

label[b-c4b57pyhpx]{
 cursor: pointer;
}
label:hover[b-c4b57pyhpx]{
    transform: scale(1.1);
}
.imagen3[b-c4b57pyhpx]{
    width: 30px;
    height: 30px;

}

.config[b-c4b57pyhpx]{
    margin-top: -40px;
    margin-right: 10px;
    float: right;
    
}
.config a[b-c4b57pyhpx] {
    margin-left: 10px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

#check:checked ~ .sidebar[b-c4b57pyhpx]{
    margin-left: -20px;
    visibility: visible;
}

.imagen2[b-c4b57pyhpx]{
 margin-top: 3px;
 width: 55px;
 height: 55px;
}




























.page[b-c4b57pyhpx] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:#002541;
    height: 1200px;
}

.main[b-c4b57pyhpx] {
    flex: 1;
}

.sidebar[b-c4b57pyhpx] {
    visibility: hidden;

    border: solid 1px black;
   margin-top: 60px;
   height: 200px;
   margin-left: -280px;
   position: absolute;
   background-color: #002541;
   

   transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

   transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    
}

.top-row[b-c4b57pyhpx] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-c4b57pyhpx]  a, .top-row .btn-link[b-c4b57pyhpx] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-c4b57pyhpx] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-c4b57pyhpx] {
        display: none;
    }

    .top-row.auth[b-c4b57pyhpx] {
        justify-content: space-between;
    }

    .top-row a[b-c4b57pyhpx], .top-row .btn-link[b-c4b57pyhpx] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-c4b57pyhpx] {
        flex-direction: row;
    }

    .sidebar[b-c4b57pyhpx] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-c4b57pyhpx] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-c4b57pyhpx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/prueba/Shared/NavMenu.razor.rz.scp.css */
.submenu[b-xn3xqdijam]{
    
    position: absolute;
    width: 90px;
    height: 100px;
    background-color: #002541;
    margin-left: 300px;
   

 }
  .div2 ul[b-xn3xqdijam]{
     visibility: hidden;
     margin-left: 50px; 
     opacity: 0;
 }
  

.navbar-toggler[b-xn3xqdijam] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-xn3xqdijam] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-xn3xqdijam] {
    font-size: 1.1rem;
}

.oi[b-xn3xqdijam] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-xn3xqdijam] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-xn3xqdijam] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-xn3xqdijam] {
        padding-bottom: 1rem;
    }

    .nav-item[b-xn3xqdijam]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }


.nav-item[b-xn3xqdijam]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-xn3xqdijam]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
    transform: scale(1.1);
}
.nav-item[b-xn3xqdijam]  a:hover .div2 ul{
    background-color: rgba(255,255,255,0.1);
    color: white;
    
    visibility: visible;
    opacity: 1;
}

@media (min-width: 641px) {
    .navbar-toggler[b-xn3xqdijam] {
        display: none;
    }

    .collapse[b-xn3xqdijam] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
