@page "/Configuracion"









<div class="main">
      <div class="texto">
      <h2>Cofiguracion</h2>
      <p>Aqui puede registro  mas vacunas y agregar provincia o modificarla .</p>
        </div>
            
     

     <div class="registro">
           <ul class="lista1">
        
              <li class="list"> <h5>Marca: </h5></li>
              <li class="list"><input type="text"></li>
               <li class="list"> <h5>Cantidad: </h5></li>
              <li class="list"><input type="text"></li>
              
           </ul>
             <ul class="lista1">
                <li class="list"> <h5>Nombre de la Provincia: </h5></li>
              <li class="list"><input type="text"></li>
             </ul>
       
           
              
           <div class="save "> <button class="btn btn-primary" >Registrar</button></div>
           
           <div class=" save1"> 
            <button class="btn btn-primary" >Actualizar</button>
           <button class="btn btn-primary" >Registrar</button></div>
          
        </div>
        
 

  
</div>




@code{


}
