@page "/Consulta"



<div class="main">
   <div class="texto">
   <h2>Consulta de Vacunados</h2>
   <p>Consulta de todas las personas registradas.</p>
   </div>


<div class="page">
     <div class="search">
         <input type="text">
         <button class="btn btn-primary" >Buscar</button>
         <button class="btn btn-primary" >limpiar</button>
     </div>
 
  <div class="container">
    

   <table class="table table-bordered">

   <thead>

         <tr>
            <th>Cedula</th>
             <th>Nombre</th>
             <th>Apellido</th>
             <th>Provincia</th>
             <th>Fecha de Vacuna</th>
             <th>Provincia</th>
         </tr>

   </thead> 
   <tbody class="tbody">
        
        
            <tr>
                
                <td>valores aqui</td>
                <td>valores aqui</td>
                <td>valores aqui</td>
                <td>valores aqui</td>
                <td>valores aqui</td>
                <td>valores aqui</td>

                
            </tr>
        
   </tbody>
 
</table>
</div>
</div>
</div>
@code{

}