@page "/Provincia"

<div class="main">
   <div class="texto">
   <h2>Consulta Vacunados por Provincias</h2>
   <p>Listado de todas las personas vacunadas por provincia</p>
   </div>


<div class="page">
     <div class="search">
         <input type="text">
         <button class="btn btn-primary" >Buscar</button>
         <button class="btn btn-primary" >Limpiar</button>
     </div>
 
  <div class="container">
    

   <table class="table table-bordered">

   <thead>

         <tr>
            <th>Nombre Provincia</th>
             <th>Cantidad Vacunados</th>
         </tr>

   </thead> 
   <tbody class="tbody">
        
        
            <tr>             
                <td>valores aqui</td>
                <td>valores aqui</td>        
            </tr>
        
   </tbody>
 
</table>
</div>
</div>
</div>

@code{
    
}