@page "/Registrar"





<div class="main">

   <h1>Aqui Registrar</h1>
     
     <ul class="lista1">
        
              <li class="list"> <h4>Nombre: </h4></li>
              <li class="list"><input type="text"></li>
               <li class="list"> <h4>Apellido: </h4></li>
              <li class="list"><input type="text"></li>
              <li class="list"> <h4>Telefono: </h4></li>
              <li class="list"><input type="text"></li>
          

        
        
             <ul class="lista3"> 


              <li class="list"> <h4>Cedula: </h4></li>
              <li class="list"><input type="text"></li>
              <li class="list"> <h4> Nacimiento: </h4></li>
              <li class="list"><input type="text"></li>
              <li class="list"> <h4>:Vacuna</h4></li>
              <li class="select"><input type="text"></li>
            </ul>
        
        <ul>
          <li class="list"> <h4>Provincia</h4></li>
              <li class="select"><input type="text"></li>
        </ul>
 

     </ul>
</div>

@code{
    
}