@page "/Signo"






<div class="main">
   <div class="texto">
   <h2>Vacunados por Signo Zodiacal</h2>
   <p>Listados de la cantidad de personas que se registron en cada signo Zodiacal.</p>
   </div>


<div class="page">
    
 
  <div class="container">
    

   <table class="table table-bordered">

   <thead>

         <tr>
            <th>Signo</th>
             <th>Cantidad</th>
         </tr>

   </thead> 
   <tbody class="tbody">
        
        
            <tr>
                <td>Acuario</td>
                <td>Cantidad Aqui</td>
            </tr>
              <tr>
                <td>Picsis</td>
                <td>Cantidad Aqui</td>
            </tr>
               <tr>
                <td>Aries</td>
                <td>Cantidad Aqui</td>
            </tr>
               <tr>
                <td>Tauro</td>
                <td>Cantidad Aqui</td>
            </tr>
               <tr>
                <td>Geminis</td>
                <td>Cantidad Aqui</td>
            </tr>
               <tr>
                <td>Cancer</td>
                <td>Cantidad Aqui</td>
            </tr>
               <tr>
                <td>Leo</td>
                <td>Cantidad Aqui</td>
            </tr> 
               <tr>
                <td>Virgo</td>
                <td>Cantidad Aqui</td>
            </tr>
               <tr>
                <td>Libra</td>
                <td>Cantidad Aqui</td>
            </tr>
               <tr>
                <td>Escorpio</td>
                <td>Cantidad Aqui</td>
            </tr>
               <tr>
                <td>Sagitario</td>
                <td>Cantidad Aqui</td>
            </tr>
               <tr>
                <td>Capricornio</td>
                <td>Cantidad Aqui</td>
            </tr>

        
   </tbody>
 
</table>
</div>
</div>
</div>
@code{

}

