@page "/Vacuna"




<div class="main">
   <div class="texto">
   <h2>Vacunados por marca de Vacunas</h2>
   <p>Aqui se mostrara una tabla con todas las vacunas registradas en el sistema con la cantidad de personas que se han
      vacunado con la misma.</p>
   </div>


<div class="page">
    
 
  <div class="container">
    

   <table class="table table-bordered">

   <thead>

         <tr>
            <th>Nombre</th>
             <th>Marca</th>
             <th>Cantdad restante</th>
             <th>Vacunados</th>
        
         </tr>

   </thead> 
   <tbody class="tbody">
        
        
            <tr>
                
                <td>valores aqui</td>
                <td>valores aqui</td>
                <td>valores aqui</td>
                <td>valores aqui</td>
            </tr>
        
   </tbody>
 
</table>
</div>
</div>
</div>
@code{

}