.submenu[b-xn3xqdijam]{
    
    position: absolute;
    width: 90px;
    height: 100px;
    background-color: #002541;
    margin-left: 300px;
   

 }
  .div2 ul[b-xn3xqdijam]{
     visibility: hidden;
     margin-left: 50px; 
     opacity: 0;
 }
  

.navbar-toggler[b-xn3xqdijam] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-xn3xqdijam] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-xn3xqdijam] {
    font-size: 1.1rem;
}

.oi[b-xn3xqdijam] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-xn3xqdijam] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-xn3xqdijam] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-xn3xqdijam] {
        padding-bottom: 1rem;
    }

    .nav-item[b-xn3xqdijam]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }


.nav-item[b-xn3xqdijam]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-xn3xqdijam]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
    transform: scale(1.1);
}
.nav-item[b-xn3xqdijam]  a:hover .div2 ul{
    background-color: rgba(255,255,255,0.1);
    color: white;
    
    visibility: visible;
    opacity: 1;
}

@media (min-width: 641px) {
    .navbar-toggler[b-xn3xqdijam] {
        display: none;
    }

    .collapse[b-xn3xqdijam] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
