@page "/"


<div class="index-class"> 
      
<div class="slider">                 
    <ul>    
        <li><img class="img-h " src="imagen2.png" alt=""></li>
        <li><img class="img-h"  src="imagen3.png" alt=""></li>
        <li><img class="img-h"  src="imagen4.png" alt=""></li>
             
    </ul>             
</div>   
</div>


<div class="foot">
<div class="footer">

        <h1>footer</h1>

</div>
</div>


@code{
    
}