@inherits LayoutComponentBase

<div class="page">

 <input type="checkbox" id="check">
        <nav class="nav-class">
                 <div class="div-imag-1">
                      
                    <label for="check"><img src="menu.png" class="imagen1" alt="menu"></label>
                
                </div>
                <div class="div-imag-2">
                
                    <img src="jeringuilla (1).png" class="imagen2" alt="logo">
                    <div class="title"> <h2>Vacune</h2></div>
                </div>
                
                <div class="config">
                    <label for=""><a href="">About</a></label>
                    
                    
                </div>

        </nav>




    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

       

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
